

.nav-item{
  margin-left: 40px;
}

.footer-list{
  margin-top: 10px;
}

.footer-base-list{
  margin-left: 30px;
  text-decoration: none;
}
.team-a a {
  text-decoration: none;
}
.anchor{
  text-decoration: none;
}

.hero-text{
  color: white;
}

.Hero-div{
  height: 60vh;
  width: 100%;
  color: white;
  background-color:#387ED1 ;
}


.ticket-link {
  text-decoration: none;
  line-height: 2.5;
  display: block;
  font-size: 15px;
}

.wrapper{
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}